<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Проверка работы HTTP-сервера</title>
        <link rel="stylesheet" href="css/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="js/post.js"></script>
    </head>
    <body>
        <header>
            Рассмотрение работы клиентской части интернет-приложения
        </header>
        <nav>
            <ul>
                <li><a href="firstPage.html">О себе</a></li>
                <li><a href="secondPage.html">Индивидуальное задание</a></li>
                <li><a href="thirdPage.html">Работа с серверными таблицами</a></li>
            </ul>
        </nav>
        <div class="content" id="firstPage">
            <span id="firstPageText">
                Работу выполняли: Руслан Тимурович Зекирьяев<br>
                Номер группы: ИКБО-16-17<br>
                Номер индивидуального задания: 9<br>
                Текст индивидуального задания: "Подсчёт повторяющихся символов в строке"<br>
            </span>
        </div>
    </body>
</html>